{{ define "main" }}
<div class="min-h-24 flex">
  <div class="basis-2/3 pr-10">
    <img src="/20231222161249.png" class="rounded-xl" />
  </div>
  <div class="basis-1/3 max-h-10">
    <img src="/20231222161025.png" class="rounded-xl" />
  </div>
</div>
<h1 class="text-zinc-800 text-5xl font-bold font-['Montserrat'] leading-10 pb-10 pt-10">{{ .Title }}</h1>
{{ .Content }}
<div class="flex flex-row flex-wrap	gap-y-10">
  {{ range .Pages }}
  <div class="basis-1/4 p-4 md:basis-1/3 sm:basis-1/2">
    <a href="{{ .RelPermalink }}">
      <img src="{{ .Params.image }}" class="rounded-2xl" />
    </a>
    <h2>{{ .Summary }}</h2>
  </div>
  {{ end }}
</div>
{{ end }}
