{{ define "main" }}
<div class="flex gap-x-5 ">
  <div class="basis-2/3 bg-blue-700 rounded-2xl">
    <div class="flex">
      <div class="basis-1/2">
        <div class="m-5 text-white text-6xl font-bold font-['Montserrat']">Кто такие два Ивана?</div>
        <div class="m-5"><span class="text-white text-xl font-semibold font-['Montserrat'] leading-loose">Пришёл
          как-то раз </span><span
          class="text-white text-xl font-semibold font-['Montserrat'] underline leading-loose">Иван
          Елфимов</span><span class="text-white text-xl font-semibold font-['Montserrat'] leading-loose"> к
      </span><span class="text-white text-xl font-semibold font-['Montserrat'] underline leading-loose">Иванy
          Чернову</span><span class="text-white text-xl font-semibold font-['Montserrat'] leading-loose"> и
          говорит: </span></div>
      </div>
      <div class="basis-1/2">
        <img src="/20231227113118.png" />
      </div>
    </div>
  </div>
  <div class="basis-1/3">
    <img src="/20231227163811.png" class="rounded-2xl" />
  </div>
</div>
{{ .Content }}
{{ partial "section.html" (dict "section" "podcasts" "title" "Подкасты" "page" .) }}
{{ end }}
