{{- define "main" }}

<div class="single__wrapper">
  <div class="single__header">
    <img src="{{ .Params.image }}" class="single__cover" />
    <div class="single__title">
      <h3 class="h3">{{ .Params.summary }}</h3>
      <div class="single__time">
        {{ .Date.Format "Jan 02, 2006" | safeHTML }}
      </div>
    </div>
    <div class="single__player">
      <figure style="width: 100%">
        <audio id="podcast" style="width: 100%" controls preload="metadata">
          <source src="{{ .Params.mp3 }}" type="audio/mpeg" />
        </audio>
      </figure>
    </div>
  </div>

  {{ $cols := split .RawContent "<!-- links -->" }}
  <div class="single__info">
    <div class="block_green single__description">
      <h4 class="h4">{{ index $cols 0 | markdownify }}</h4>
    </div>

    <div class="block_blue single__links">
      <h4 class="h4">Ссылки</h4>
      <div class="single__links-list">{{ index $cols 1 | markdownify }}</div>
    </div>
    <div class="block_white single__timecodes">
      <h4 class="h4">Таймкоды</h4>
      <div class="single__timecodes-list">{{ partial "timecodes.html" . }}</div>
    </div>
    {{ if .Params.telegram_discussion }}
    <div class="block_white single__comments">
      <script
        async
        src="https://telegram.org/js/telegram-widget.js?22"
        data-telegram-discussion="{{ .Params.telegram_discussion }}"
        data-comments-limit="10"
        data-color="0F5DE4"
        data-dark="0"
      ></script>
    </div>
    {{ end }}
  </div>
</div>

{{- end }}{{/* end main */}}
