{{ $title := .title }}
{{ $section := .section }}

<h1 class="text-zinc-800 text-5xl font-bold font-['Montserrat'] leading-10 pb-10 pt-10">Последние подкасты</h1>
<div class="grid grid-cols-4 gap-y-10 gap-x-5">
  {{ range (where .page.Site.RegularPages.ByDate.Reverse "Section" $section ) }}
  <div class="">
    <a href="{{ .RelPermalink }}">
      <img src="{{ .Params.image }}" class="rounded-2xl" />
    </a>
    <div class="m-1 w-80 text-zinc-800 text-xl font-medium font-['Montserrat'] leading-snug">{{ .Summary }}</div>
    <div class="pt-5 text-zinc-800 text-sm font-medium font-['Montserrat']">August 21, 2023</div>
  </div>
  {{ end }}
</div>
